{% extends 'base.html' %}

{% block title %} 
    Homepage
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<main class="flex flex-col text-center mt-16 items-center relative z-10">
  <h1 class="main-title">HOBBYSITE</h1>
  <p class="text-white mt-[-15px] mb-2 uppercase font-audiowide text-xl">Welcome to FG-16's official hobbysite!</p>
  <p class="mb-10 text-white">HobbySite is a community-driven platform where users can explore, share, and discuss their favorite hobbies.<br> Whether you're into painting, photography, gaming, crafting, or cooking,<br> HobbySite lets you create and browse articles, post images, leave comments, and connect with others who share your passions.</p>
  <a href="{% url 'merchstore:merch-list' %}" class="explore-btn">EXPLORE</a>
</main>
{% endblock %}
