{% extends 'base.html' %}

{% block title %} 
    {{ category.name }}
{% endblock %}

{% block content %}
    <div class="main-container"> 
        <a class="back-button" href="{% url 'forum:post-category' %}">Back</a>
        
        <div>
            <ul class="post-categories-head">
                
                    <li class="specific-post">
                        <p>Posted on {{ thread.time_created }}</p>
                    </li>
                    <li class="post-entry">
                        <div>
                            <h1 class="post-title-text">
                                {{ thread }}
                            </h1>
                            <p class="post-entry-content">
                                {{ thread.entry }}
                            </p>
                            <h6 class="update-text">Updated on {{ thread.time_updated }}</h6>
                        </div>
                    </li>
                
            </ul>

            <a href="{% url 'forum:thread-edit' pk=thread.pk%}">Edit Thread</a>
        </div>
    </div>
{% endblock %}