{% extends 'base.html' %}
{% block title %}
Add Threads
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center mt-20">
<form method="POST" enctype="multipart/form-data" class="forms flex-col">
    {% csrf_token %}
    <a class="back-button" href="{% url 'forum:post-category' %}">Go Back</a>
    <h1 class="form-text">CREATE THREAD</h1>
    <label for="title" class="">Title</label>
    {{form.title}}
    <label for="category" class="">Category</label>
    {{form.category}}
    <label for="entry" class="">Entry</label>
    <textarea name="entry" rows="10" cols="50"></textarea>
    <label for="image" class="">Image</label>
    {{form.image}}
    <input type="submit" value="CREATE THREAD"></input>
</form>
</div>
{% endblock %}