{% extends 'base.html' %}

{% block title %} 
    Threads
{% endblock %}

{% block content %}
    <div class="main-container"> 
        <div class="content-holder">
            <div>
                <h2 class="forum-title">
                    Welcome to the <span class="orange">Hobby</span>
                    <a href="{% url 'forum:post-category' %}" class="threads">Forum</a>
                </h2>
                <p class="home-description">
                    <i class="hobby-text">Hobby:</i> 
                    Something you enjoy doing until you decide to make it your profession.
                </p>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div>
            <ul class="post-categories-head">
                <li class="post-categories featured">Featured Content</li>
                {% for category in categories %}
                    <li class="post-categories">
                        <div>
                            <p class="category-title">
                                <p>
                                    {{ category }}
                                </p>
                            </p>
                            {% for post in category.post_category.all %}
                                <a href="{{post.get_absolute_url}}">{{ post.title }}</p>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            
            
        
        {% else %}
        My Threads:
        {% for threads in user_threads.all %}
        
        <li><a href="{{threads.get_absolute_url}}">{{threads}}</a></li>
        {% endfor %}
        {% for cat in other_categories %}
        {{cat}}
            {% for thread in other_threads %}
            {% if thread.category == cat %}
            <li><a href="{{ thread.get_absolute_url }}">{{thread}}</a></li>
            {% endif %}
            {% endfor %}
        {% endfor %}
        {% endif %}
        <a href="{% url 'forum:thread-add' %}">Create Thread</a>
    </ul>
    </div>
    </div>
{% endblock %}