{% extends 'base.html' %}
{% block title %}
Add Threads
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<div class="h-[500px] flex items-center justify-center mt-20">
<form method="POST" enctype="multipart/form-data" class="forms h-[500px]">
    {% csrf_token %}
    <h1 class="form-text">CREATE THREAD</h1>
    <label for="title" class="">Title</label>
    {{form.title}}
    <label for="category" class="">Category</label>
    {{form.category}}
    <label for="entry" class="">Entry</label>
    {{form.entry}}
    <label for="image" class="">Image</label>
    {{form.image}}
    <input type="submit" value="CREATE THREAD"></input>
</form>
</div>
{% endblock %}