{% extends 'base.html' %}

{% block title %} 
    {{ category.name }}
{% endblock %}

{% block content %}
    <div class="main-container"> 
        <a class="back-button" href="{% url 'forum:post-category' %}">Back</a>
        <div class="content-holder">
            <div>
                <h2 class="forum-title">
                    Welcome to <span class="orange">{{ category }}</span>
                </h2>
                <p class="home-description"></p>
                <p class="home-description">
                    {{ category }}: 
                    <i class="hobby-text">{{ category.description }}</i>
                </p>
            </div>
        </div>
        
        <div>
            <ul class="post-categories-head">
                {% for post in category.post_category.all %}
                    <li class="specific-post">
                        <p>Posted on {{ post.time_created }}</p>
                    </li>
                    <li class="post-entry">
                        <div>
                            <h1 class="post-title-text">
                                {{ post }}
                            </h1>
                            <p class="post-entry-content">
                                {{ post.entry }}
                            </p>
                            <h6 class="update-text">Updated on {{ post.time_updated }}</h6>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}