<!DOCTYPE html>
<html>
<head>
    <title>Wiki</title>
</head>
<body>
    <h1>Wiki Articles</h1> 
    <br>
    {% for articles in object_list %}
        <h2> {{articles.name}} </h2>
        <h5> {{articles.description}} </h5>
        {% for article in articles.articles.all %}
            <a href="{% url 'wiki:article/detail' article.id %}">{{article.title}}</a>
            <p> Created on : {{article.created_on}} </p>
            <p> Last Updated on : {{article.updated_on}} </p>
        {% endfor %}
        <br>
    {% endfor %}
</body>
</html>