{% extends 'base.html' %}

    {% block title %}
        Add Article
    {% endblock %}

    {% block content %}
    <div class="h-[500px] flex items-center justify-center mt-20">
        
        <form method="POST" enctype="multipart/form-data" class="forms h-[500px]">
            {% csrf_token %}
            <a href="{% url 'wiki:article-list' %}" class="back-button">Back</a>
            <h1 class="form-text">CREATE ARTICLE</h1>
            <label for="title" class="">Title</label>
            {{form.title}}
            <label for="category" class="">Category</label>
            {{form.category}}
            <label for="image" class="">Image</label>
            {{form.image}}
            <label for="entry" class="">Entry</label>
            <textarea name="entry" rows="10" cols="50"></textarea>
            <input type="submit" value="CREATE ARTICLE"></input>
        </form>
        </div>

        
{% endblock %}