{% extends 'base.html' %}

{% block title %}
    Update Article: {{ article.title }}
{% endblock %}
    <div class="h-[500px] flex items-center justify-center mt-20">
        
    {% block content %}
    <form method="POST" enctype="multipart/form-data" class="forms h-[500px]">
        {% csrf_token %}
        <a href="{% url 'wiki:article-list' %}" class="back-button">Back</a>
        <h1 class="form-text">UPDATE ARTICLE</h1>
        <label for="title" class="">Title</label>
        {{form.title}}

        <label for="category" class="">Category</label>
        {{form.category}}

        <label for="header_image" class="">Header Image</label>
        {{form.header_image}}

        <label for="entry" class="">Entry</label>
        {{form.entry}}

        <label for="image">Upload Image(s)</label>
        <input type="file" name="image" multiple>

        <input type="submit" value="Update Article"></input>
    </form>
    </div>
    {% endblock %}
