{% extends "base.html" %}

{% block content %}
<div class="h-[600px] flex justify-center items-center">
    <form method="post" class="forms" enctype="multipart/form-data">
        <h1 class="form-text">ARTICLE DETAILS</h1>
        {% csrf_token %}
        <label for="title">Title</label>
        {{ form.title }}
        
        <label for="entry">Entry</label>
        {{ form.entry }}

        <label for="category">Category</label>
        {{ form.category }}
        
        <label for="header_image">Header Image</label>
        {{ form.header_image }}
        
        <input type="submit" class="submit" value="SAVE">
    </form>
    </div>
{% endblock %}