<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content=width=device-width, initial-scale="1" />
		<title>{% block title %} Title {% endblock %}</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<header>
			{% url 'homepage:index' as home_url %}
			{% if request.path == home_url %}
				<h1>Home</h1>
			{% else %}
				<a href="{% url 'homepage:index' %}" style="font-size: 24px; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; display: inline-block;">Home</a>
			{% endif %}
		</header>

		{% if request.user.is_authenticated %}
        	{% block user_status %}
        		<p>Welcome, {{ request.user.username }}!</p>
				<form method="POST" action="{% url 'logout' %}">
					{% csrf_token %}
					<button type="submit">Logout</button>
				</form>
        	{% endblock %}
      	{% else %}
        	{% block guest_status %}
          		
        	{% endblock %}
      	{% endif %}
		
		{% block content %}
		{% endblock %}
	</body>
</html>