<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content=width=device-width, initial-scale="1" />
		<title>{% block title %} Title {% endblock %}</title>
		{% block styles %}{% endblock %}
	</head>
	<body>
		<header>
			<nav>
			<ul>
				<li>
					{% url 'homepage:index' as home_url %}
					{% if request.path == home_url %}
						<span>Home</span>
					{% else %}
						<a href="{{ home_url }}">Home</a>
					{% endif %}
				</li>
				<li>
					{% url 'merchstore:merch-list' as merch_url %}
					{% if request.path == merch_url %}
						<span>Merchstore</span>
					{% else %}
						<a href="{{ merch_url }}">Merchstore</a>
					{% endif %}
				</li>
				<li>
					{% url 'commissions:commission_list' as commissions_url %}
					{% if request.path == commissions_url %}
						<span>Commissions</span>
					{% else %}
						<a href="{{ commissions_url }}">Commissions</a>
					{% endif %}
				</li>
				<li>
					{% url 'wiki:article-list' as wiki_url %}
					{% if request.path == wiki_url %}
						<span>Wiki</span>
					{% else %}
						<a href="{{ wiki_url }}">Wiki</a>
					{% endif %}
				</li>
				<li>
					{% url 'blog:article_list' as blog_url %}
					{% if request.path == blog_url %}
						<span>Blog</span>
					{% else %}
						<a href="{{ blog_url }}">Blog</a>
					{% endif %}
				</li>
				<li>
					{% url 'forum:post-category' as forum_url %}
					{% if request.path == forum_url %}
						<span>Forum</span>
					{% else %}
						<a href="{{ forum_url }}">Forum</a>
					{% endif %}
				</li>
			</ul>
			</nav>
		</header>
	</body>
</html>