<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}MerchStore{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'merchstore/style.css' %}">
</head>
<body>
    {% block content %}
        <div class="main-container"> 
            <div class="content-holder">
                <div>
                    <h2 class="forum-title">
                        Welcome to the <span class="orange">Hobby</span>
                        <a href="{% url 'merch-list' %}" class="threads">Merchstore</a>
                    </h2>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>
