{% extends 'base.html' %}

{% block title %} 
    Merchstore
{% endblock %}

{% block content %}
    <div class="main-container"> 
        {% url 'merchstore:merch-create' as merch_create %}
        {% url 'merchstore:merch-cart' as merch_cart %}
        <a href="{{ merch_create }}">Create a Product</a>
        <a href="{{ merch_cart }}">Cart</a>
        <div>
            <ul class="post-categories-head">
                <li class="post-categories featured">Your Transactions</li>
                {% for transaction in transactions %}
                {% if transaction.product.owner.id == user_id %}
                    <li class="post-categories">
                        <div>
                            {{ transaction.product.owner.name }}
                        </div>
                        <div>
                            <a class="category-url" href="{{ transaction.product.get_absolute_url }}">
                                {{ transaction.product.name }}
                            </a>
                        </div>
                        <div>
                            {{ transaction.product.price }}
                        </div>
                        <div>
                            {{ transaction.amount }}
                        </div>
                        <div>
                            {{ transaction.get_status_display }}
                        </div>
                    </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}