{% extends 'merchstore/base.html' %}

{% block title %} 
    {{ object.name }}
{% endblock %}

{% block content %}

<div class="main-container"> 
    <div class="content-holder">
        <div>
            <h2 class="forum-title">
                Welcome to the <span class="orange">Hobby</span>
                <p class="threads">Merchstore</p>
            </h2>
            

            <p class="home-description">
                <i class="hobby-text">Hobby:</i> 
                Something you enjoy doing until you decide to make it your profession.
            </p>
        </div>
    </div>

    <div>
        <ul class="post-categories-head">
            <li class="post-categories featured">Merch Details</li>
            <li class="post-categories">
                <div>
                    <p class="category-title">
                        Product Selected: <span class="orange">{{ object.name }}</span>
                    </p>
                    <p class="category-title">Price: {{ object.price }}</p>
                    <p class="category-title">Category: {{ object.product_type }} </p>
                    <p class="category-title">{{ object.description }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}
