{% extends 'merchstore/base.html' %}

{% block title %} 
    Threads
{% endblock %}

{% block content %}
    <div class="main-container"> 
        <div class="content-holder">
            <div>
                <h2 class="forum-title">
                    Welcome to the <span class="orange">Hobby</span>
                    <p class="threads">Merchstore</p>
                </h2>
                <p class="home-description">
                    <i class="hobby-text">Hobby:</i> 
                    Something you enjoy doing until you decide to make it your profession.
                </p>
            </div>
        </div>

        <div>
            <ul class="post-categories-head">
                <li class="post-categories featured">Merch List</li>
                {% for product in object_list %}
                    <li class="post-categories">
                        <div>
                            <p class="category-title">
                                <a class="category-url" href="{{ product.get_absolute_url }}">
                                    {{ product.name }}
                                </a>
                            </p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}